{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1 class="font-weight-bolder text-center">Se connecter</h1>
    <br>
    <br>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" >Se connecter</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="test-muted">
                Je n'ai pas de compte. <a class="ml-2" href="/register">S'inscrire</a>
            </small>
        </div>
    </div>

{% endblock content %}