{% extends "app/base.html" %}
{% block content %}
<div class="container">
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <h2>Vous êtes déconnecté</h2>
        <div class="border-top pt-3">
            <small class="test-muted">
                <a href="/login">Se connecter</a>
            </small>
        </div>
{% endblock content %}