{% extends "app/base.html" %}
{% load mathfilters %}
{% block content %}
  <div class="container">
    <h3 class="font-weight-normal">Bienvenue {{ user.username }}!</h3>
    <h1 class="font-weight-bolder text-center">Maquette pédagogique</h1>
    <br>
    <h2 class="text-center">Comprendre les énergies renouvelables</h2>
    <br>
    <br>
    <div class="row">

      <div class="col-sm-4">
        <div class="shadow-none p-3 mb-5 bg-light rounded">
          <h3 class="text-center">
          <svg class="bi bi-brightness-high" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 11a3 3 0 100-6 3 3 0 000 6zm0 1a4 4 0 100-8 4 4 0 000 8zM8 0a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2A.5.5 0 018 0zm0 13a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2A.5.5 0 018 13zm8-5a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2a.5.5 0 01.5.5zM3 8a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2A.5.5 0 013 8zm10.657-5.657a.5.5 0 010 .707l-1.414 1.415a.5.5 0 11-.707-.708l1.414-1.414a.5.5 0 01.707 0zm-9.193 9.193a.5.5 0 010 .707L3.05 13.657a.5.5 0 01-.707-.707l1.414-1.414a.5.5 0 01.707 0zm9.193 2.121a.5.5 0 01-.707 0l-1.414-1.414a.5.5 0 01.707-.707l1.414 1.414a.5.5 0 010 .707zM4.464 4.465a.5.5 0 01-.707 0L2.343 3.05a.5.5 0 11.707-.707l1.414 1.414a.5.5 0 010 .708z" clip-rule="evenodd"/>
          </svg> Panneau solaire</h3>
          <br>
          {% if measurement.solar %}
            <h6 class="font-weight-bolder text-center">Valeur mesurée</h6>
            <h2 class="font-weight-normal text-center">{{ measurement.solar|floatformat:2 }} mW</h2>
            <br>
            <h6 class="font-weight-bolder text-center">Équivalent pour une maison</h6>
            <h1 class="font-weight-bold text-center">{{ measurement.solar|mul:2|floatformat:2 }} W</h1>
          {% else %}
            <h1 class="text-center">Pas de mesure</h1>
          {% endif %}
        </div>
      </div>

      <div class="col-sm-4">
        <div class="shadow-none p-3 mb-5 bg-light rounded">
          <h3 class="text-center">
          <svg class="bi bi-flag" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.5 1a.5.5 0 01.5.5v13a.5.5 0 01-1 0v-13a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 00.593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 01.5.5v6a.5.5 0 01-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 019 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 11-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 019 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 01-.554-.832l.04-.026z" clip-rule="evenodd"/>
          </svg> Éolienne</h3>
          <br>
          {% if measurement.wind %}
            <h6 class="font-weight-bolder text-center">Valeur mesurée</h6>
            <h2 class="font-weight-normal text-center">{{ measurement.wind|floatformat:2 }} mW</h2>
            <br>
            <h6 class="font-weight-bolder text-center">Équivalent pour une maison</h6>
            <h1 class="font-weight-bold text-center">{{ measurement.wind|mul:2|floatformat:2 }} W</h1>
          {% else %}
            <h1 class="text-center">Pas de mesure</h1>
          {% endif %}
        </div>
      </div>

      <div class="col-sm-4">
        <div class="shadow-none p-3 mb-5 bg-light rounded">
          <h3 class="text-center">
          <svg class="bi bi-droplet" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 01-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 005.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0010 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" clip-rule="evenodd"/>
          </svg> Hydrolienne</h3>
          <br>
          {% if measurement.hydro %}
            <h6 class="font-weight-bolder text-center">Valeur mesurée</h6>
            <h2 class="font-weight-normal text-center">{{ measurement.hydro|floatformat:2 }} mW</h2>
            <br>
            <h6 class="font-weight-bolder text-center">Équivalent pour une maison</h6>
            <h1 class="font-weight-bold text-center">{{ measurement.hydro|mul:2|floatformat:2 }} W</h1>
          {% else %}
            <h1 class="text-center">Pas de mesure</h1>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
{% endblock content %}
