{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1 class="font-weight-bolder text-center">Créer votre compte</h1>
    <br>
    <br>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">S'inscrire</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="test-muted">
                J'ai déjà un compte. <a class="ml-2" href="/login">Se connecter</a>
            </small>
        </div>
    </div>

{% endblock content %}